/*google font*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 450;
    color: #edeef0;
    background-color:#37323b ;
}



/*logo and headings styling */

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:whitesmoke;
    


}


#logo
{
    padding-top: 15px;
    padding-left: 15px;
    font-size:400%;
    float:left;
    color:#e30b2f}

/*navigation links */

#menu {
    font-size:120%;
    letter-spacing:3px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 15px;
    
}

#menu a {
    text-decoration: none;
    color: #dbd80f;
    border-width: 3px;
    
}

#menu a:hover{
    color:green;
}


.active {
    border-bottom: 1px solid green;
}

#menu, #logo {
line-height:75px;
}

/*main image*/

#hero{
    
    height: 600px;
    width: 90%;
    background: no-repeat center center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    border: 2px #e30b2f;
    border-style: solid;
    
    
}


/*headings for each section*/

.heading {
    text-decoration: underline;
    border-top: 5px;
    letter-spacing: 3px;
    color:#e30b2f ;
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding: 5px;

}

/*intro* and equipment*/

.intro 
{
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding: 10px;
}



#list {
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding: 10px;
}

/*footer*/

footer {
    height: 200px;
    width:100%;
}

.social-networks {
    text-align: center;
    padding: 75px;
    word-spacing: 5px;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    color:#e30b2f;
    
}

.contact {
    font-size: 200%;
    color:#e30b2f;
    text-align: center;
    padding-bottom: 30px ;
}

/*classes*/

.clear {
    clear:both;
}

#class-top {
    text-align: center;
    color: #e30b2f;
    margin-top: 25px;
}
.section-classes {
    height:300px;
    margin:25px;
    padding: 60px;
    border: 1px;
    border-style:groove;
    border-color: #e30b2f;

}

.left-classes {
    width:50%;
    float:left;
    text-align: left; 
}

.right-classes {
    width: 50%;
    float:right;
    
}
.heading-classes {
    color:#e30b2f;
     text-decoration: underline;
        
    }

    .right-about {
        margin-left:25px;
    }
    
    #hiit-left {
        margin-right:60px;
    }

    #zumba-left {
        margin-right:60px;
    }

    #spin-left {
        margin-right:60px;
    }
/*class-images*/

#hiit-right {

    height:300px;
    width:80%;

}


#spin-right {
    height:300px;
    width:80%;
}

#zumba-right {
    
    height:300px;
    width:80%;
    }

/*table*/
tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

tr, th, td {
	text-align: left;
}

th, td {
	border: 1px solid white;
	padding: 5px;
}

/*free trial*/

.form-div {
    background-image: url('../images/sule-makaroglu-YFmvjO3TP_s-unsplash.jpg');
    height: 800px;
    width: 90%;
    background-repeat: no-repeat;
    background-size:cover;
    display: block;
    margin:auto;
    position: relative;
    border: 2px #e30b2f solid;
    

}
.form-detail {
    
    color:#edeef0;
    background-color:#e30b2f;
    position: absolute;
    left: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    
}



.join-button {
    background-color: #dbd80f;
    font-size: medium;
    border: 2px;
    border-radius: 5%;
    border-style:outset;
}

#dumbbell {
    color:black;
}

/*completed form page*/

.complete {
    background-image: url('../images/sour-moha-_cUZkx0wTyM-unsplash.jpg');
    height: 600px;
    width: 90%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    display: block;
    margin:auto;
    border: 2px #e30b2f solid;
}

#center-comp {
    text-align: center;
    margin: auto;
    font-weight: 400;
    color: #dbd80f;
    margin: 30px 100px;
    
    
}

    /*media queries */

    /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
    @media (min-width: 1025px) and (max-width: 1280px) {
        .section-classes {
            border-style: none;
        
        }


        .form-div  {
            background-repeat: no-repeat;
            border-style: none;
        }

    }

    /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
    @media (min-width: 768px) and (max-width: 1024px) {
        .hiit {
            float: left;
            width:100% ;
            clear: both;
            padding:0;
            
        }

        .section-classes {
            height: 500px;
           clear: both;
        }

        #spin-para {
            float: left;
        }

        #spin-left {
            width:100%;
            clear:both;
            height: 300px;
        }
        .form-div  {
            clear: both;
            background-repeat: no-repeat;
            border-style: none ;
            height: 500px;
    }

    }
 /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 380px) and (max-width: 767px) {

    #menu {
        clear:both;
        float:left;
        display:inline;
        margin-left: 30px;
    }

    .section-classes {
        clear:both;
        margin:0 auto;
        height: 400px;
        width:100%;
        display: block;
    
    }

    .times {
        
        text-align: center;
        width: 100%;
        clear: both;
    }

    .spin-para {
        text-align:right;
        clear: both;
    }
    #spin-left {
        clear: both;
        float:left;
        width: 100%;
        padding: 0;
    }
    #spinning-time {
        float: left;
        margin-right:33%
    }
        
    .form-div {
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }

        #class-top {
        padding:5px 0;
    }

    .form-detail {
        clear: both;
        height: 337px;
        width: 60%;
        margin:0 auto;
    }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    


    .first-page {
        padding:0;
    }

    
    #menu {
        clear:both;
        display: inline-block;
        width: 100%;
        font: 1em sans-serif;
    }
    #hero {
        height:auto;
        width: 80%;
        margin-top: 15px;
    }
    .intro {
        float: none;
        width: 90%;
    
    }
    .clear{
        padding:0;
        clear:both
}

#class-top {
    padding-top:15px
}
   
    .section-classes {
        clear:both;
        margin:0 auto;
        height:600px;
        width:100%;
        padding: 30px 0;
        display:block;
        border-style: none;
        
    
    }

    .right-classes {
        width:100%;
        clear:both;
    }

    .left-classes {
        width:100%;
        clear:both;
    }
    .times {
        float: left;
        width: 100%;
        clear: both;
        padding: 0 0 20px 0;
    
    }

    

    #spinning-section {
        height:auto;
        clear:both;
        float: left;
    }
    
    
    
    #spin-left {
        clear: both;
        float:left;
        width: 100%;
        text-align: left;
        
    }
    #spinning-time {
        padding:20px  0;
        margin-right: 33%;
    }
        
    #zumba {
        margin-top: 200px;
        clear:both;
    }
    
    #hiit-right {

        height:300px;
        width:100%;
    
    }
    
    
    #spin-right {
        height:300px;
        width:100%;
    }
    
    #zumba-right {
        
        height:300px;
        width:100%;
        }
    
    .form-div {
            height: 400px;
            background-image: none;
            border: none;
            width: 90%;
            padding-top:20px;
            margin-left: 30px; 
        }
 
 
    .form-detail {
         
         height: 500px;
         width:fit-content;
         border:0;
         padding-left: 15px;
         padding-top: 15px;
         margin: 0%;
         max-width: fit-content;
         
        
     }
    
     
    .contain {
    font-size: larger ;
    }

    

    .social-networks{
        margin-top: 100px;
    }

}