@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 450;
    color: #edeef0;
    background-color:#37323b ;
}



/*logo and headings styling */

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:whitesmoke;
    


}


#logo
{
    padding-top: 15px;
    padding-left: 15px;
    font-size:400%;
    float:left;
    color:#e30b2f}

/*navigation links */

#menu {
    font-size:120%;
    letter-spacing:3px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 15px;
    
}

#menu a {
    text-decoration: none;
    color: #dbd80f;
    border-width: 3px;
    
}

#menu a:hover{
    color:green;
}


.active {
    border-bottom: 1px solid green;
}

#menu, #logo {
line-height:75px;
}

/*main image*/

#hero{
    
    height: 600px;
    width: 90%;
    background-repeat: no-repeat center center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    border: 2px #e30b2f;
    border-style: solid;
    
    
}


/*headings for each section*/

.heading {
    text-decoration: underline;
    border-top: 5px;
    letter-spacing: 3px;
    color:#e30b2f ;
    margin-left: 20px;

}

/*intro* and equipment*/

.intro 
{
    margin-left: 20px;
    width:50%;
}



#list {
    margin-left: 25px;
    display:block;
}

/*footer*/

footer {
    height: 200px;
    width:100%;
}

.social-networks {
    text-align: center;
    padding: 75px;
    word-spacing: 5px;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    color:#e30b2f;
    
}

.contact {
    font-size: 200%;
    color:#e30b2f;
    text-align: center;
    padding-bottom: 30px ;
}

/*classes*/

.clear {
    clear:both;
}

#class-top {
    text-align: center;
    color: #e30b2f;
    margin-top: 25px;
}
.section-classes {
    height:300px;
    margin:25px;
    padding: 40px;
    border: 1px;
    border-style:groove;

}

.left-classes {
    width:50%;
    float:left;
    text-align: left; 
}

.right-classes {
    width: 50%;
    float:right;
    
}
.heading-classes {
    color:#e30b2f;
     text-decoration: underline;
        
    }

    .right-about {
        margin-left:25px;
    }
    
    #hiit-left {
        margin-right:60px;
    }

    #zumba-left {
        margin-right:60px;
    }
/*class-images*/

#hiit-right {

    height:300px;
    width:80%;

}


#spin-left {
    height:300px;
    width:80%;
}

#zumba-right {
    
    height:300px;
    width:80%;
    }

/*table*/
tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

tr, th, td {
	text-align: left;
}

th, td {
	border: 1px solid white;
	padding: 5px;
}

/*free trial*/

.form-div {
    background-image: url('../images/sule-makaroglu-YFmvjO3TP_s-unsplash.jpg');
    height: 800px;
    width: 90%;
    background-repeat: no-repeat center center;
    background-size: contain;
    display: block;
    margin:auto;
    position: relative;
    border: 2px #e30b2f solid;
    

}
.form-detail {
    
    color:#edeef0;
    background-color:#e30b2f;
    max-width:400px;
    position:absolute;
    margin-top: 10em;
    margin-left: 2em;
    padding:30px;
    border: 2px #edeef0 solid;
}

.join-button {
    background-color: #dbd80f;
    border: 2px;
    border-style: solid;
}


    /*media queries */

    /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
    @media (min-width: 1025px) and (max-width: 1280px) {
        .section-classes {
            border-style: none;
        
        }


        .form-div  {
            background-repeat: no-repeat;
            border-style: none;
        }

    }

    /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
    @media (min-width: 768px) and (max-width: 1024px) {
        .hiit {
            float: left;
            width:100% ;
            clear: both;
            padding:0;
            
        }

        .section-classes {
            height: 500px;
           clear: both;
        }

        #spin-para {
            float: right;
        }

        .form-div  {
            clear: both;
            background-repeat: no-repeat;
            border-style: none ;
            height: 500px;
    }

    }
 /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    #menu {
        clear:both;
        float:left;
        display:inline;
        margin-left: 30px;
    }


    .section-classes {
        float: left;
        clear:both;
        margin:0 auto;
        height: 800px;
        width:100%;
        border:2px;
        padding: 10px 0;
        display: block;
    
    }

    .times {
        padding-left: 33%;
        text-align: center;
        width: 100%;
        clear: both;
    }

    .spin-para {
        text-align:right;
        clear: both;
    }
    #spin-left {
        clear: both;
        float:left;
        width: 100%;
        padding: 0;
    }
    #spinning-time {
        float: left;
    }
        
    .form-div {
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }

        #class-top {
        padding:5px 0;
    }

    .form-detail {
        clear: both;
        height: 337px;
        width: 60%;
        margin:0 auto;
    }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    


    .first-page {
        padding:0 auto;
    }

    #menu {
        clear:both;
        display: inline-block;
        width: 100%;
        font: 1em sans-serif;
    }


    .section-classes {
        float: left;
        clear:both;
        margin:0 auto;
        height: 1000px;
        width:100%;
        padding: 0;
        display:inline;
        border-bottom:100px ;
    
    }

    .times {
        padding:0;
        width: 100%;
        clear: both;
    }

    

    #spinning-section {
        height:600px;
    }
    .spinning-classes {
        height:400px;
    }
    .spin-para {
        text-align:right;
        clear: both;
        width:100%;
        height: 300px;
    
    }
    #spin-left {
        clear: both;
        float:left;
        width: 100%;
        
    }
    #spinning-time {
        padding:0;
    }
        
    #class-top {
        padding:5px 0;
    }
    .form-div {
           background-image: none;
           border: none;
       }


    .form-detail {
        clear: both;
        height: 400px;
        width: 100%;
        margin:0 auto;
        border:none;
        border-radius: 5%;
    }

    
}