@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 450;
    color: #edeef0;
    background-color:#37323b ;
}

/*logo and headings styling */

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:whitesmoke;
    


}
#logo
{
    padding-top: 15px;
    padding-left: 15px;
    font-size:400%;
    float:left;
    color:#e30b2f}

/*navigation links */

#menu {
    font-size:120%;
    letter-spacing:3px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 15px;
    
}

#menu a {
    text-decoration: none;
    color: #dbd80f;
    border-width: 3px;
    
}

#menu a:hover{
    color:green;
}


.active {
    border-bottom: 1px solid green;
}

#menu, #logo {
line-height:75px;
}

/*main image*/

#hero{
    float: none;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat center center;
    border-color: #edeef0 1px;
    
}


/*headings for each section*/

.heading {
    text-decoration: underline;
    border-top: 3px;
    letter-spacing: 3px;
    color:#e30b2f ;
    margin-left: 20px;

}

/*intro* and equipment*/

#intro {
    float:left;
    width:50%;
    margin-left:20px;
}


.equipment {
    float:left;
    position: absolute;
    margin-top: 120px ;
    margin-right:25px;
    text-align: left;


}

#list {
    margin-left: 25px;
}

